<div class="profile-wrap">
  {{> avatar }}

  {{> modal }}

  <h1 class="title-center">{{pageData.user-name}}</h1>

  <form>
    <div class="profile-content">
      {{#each inputsData}}
        {{> input-inline inputsData=this isEdit=../pageData.isEdit }}
      {{/each}}
    </div>
	
    <div class="profile-actions">
      {{#each actionsData}}
        <div class="actions-item">
          <a href="{{this.link-href}}" class="{{this.link-class}}">{{this.link-title}}</a>
        </div>		  
      {{/each}}
    </div>	
  </form>
    
</div>
