---
stylesheets:
  - ../scss/style.scss
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <div class="error-page">
        <h1>Chat Page coming soon...</h1>
        <br/>
        <br/>
        <div class="title-center">
          <a href="listChats-page.hbs">Назад</a>
        </div>
      </div>
    </main>
  {{/content}}
{{/extend}}