<!DOCTYPE html>
<html lang="en">
  {{#block "head"}}
    <head>
      <meta charset="UTF-8">
      <title>Messenger</title>
      <link rel="icon" type="image/x-icon" href="../../static/image/favicon.ico">

      <script src="https://kit.fontawesome.com/96730757fb.js" crossorigin="anonymous"></script>
      
      {{#block "styles"}}
        {{#each stylesheets}}
          <link href="{{this}}" rel="stylesheet" />
        {{/each}}
      {{/block}}
    </head>
  {{/block}}

{{#block "body"}}
  <body>

    {{#block "main"}}
    {{/block}}
    
  </body>
{{/block}}
</html> 