button,
.primary-btn {
  height: 37px;
  color: $text-white;
  background: $primary;
  border-radius: 8px;
  border: none;
}

.primary-btn {
  &:hover {
    background: $primary-hover;
  }
}

a.primary-btn {
  width: 100%;
  text-align: center;
  line-height: 37px;
}

.icon-btn {
  background: transparent;
  color: $gray;
  transition: all 0.3s;

  &:hover {
    color: $primary;
    filter: brightness(85%);
  }
}
