@import "mixins";

.layout-col-2 {
  .sidebar-chat {
    @extend %sidebar;

    width: calc(310px - 32px);
    align-items: start;
    flex-direction: column;
    padding: 0 16px;

    header {
      @extend %flex-column;

      width: 100%;
      margin-bottom: 12px;
    }

    .input-search {
      display: block;
      width: 88%;
      max-width: 100%;
      height: 32px;
      font-size: 12px;
      line-height: 32px;
      color: #495057;
      background-color: $bg-img;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .has-search .input-search {
      padding-left: 32px;
    }

    .has-search .input-search-icon {
      position: absolute;
      z-index: 2;
      display: block;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      pointer-events: none;
      color: $gray;
    }

    .chat-section {
      width: 100%;
      border-top: 1px solid $border-gray;
    }

    .chat-link {
      position: relative;
      display: flex;
      align-items: center;
      height: var(--item-height, 50px);
      transition: color 0.2s;
      color: inherit;
      width: 278px;
      margin-left: -16px;
      padding: 12px 16px;

      &:hover {
        background-color: $bg-hover;
        transition: all 0.3s;
      }

      &.active-section {
        background-color: $bg-active;
      }
    }

    .chat-avatar {
      @include circle(47px, $bg-img);
    }

    .chat-item {
      @extend %flex-column;

      margin-left: 12px;
      width: 220px;

      .chat-item-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &:first-child {
          margin-bottom: 5px;
        }

        .chat-item-bold {
          max-width: 70%;
          font-weight: bold;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .chat-item-message,
        .chat-item-date {
          color: $gray;
        }

        .chat-item-message {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .chat-counter {
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background: $primary;
          color: $text-white;
          text-align: center;
          line-height: 20px;
          font-size: 11px;
        }
      }
    }
  }

  header .row-items-3 {
    @include row-items-3(16px, 24px, 12px, 12px);

    .item-1 {
      .chat-avatar {
        @include circle(34px, $bg-img);
      }
    }

    .item-3 {
      .chat-avatar {
        @include circle(25px, transparent);

        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-dark;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          background-color: $bg-img;
          color: $primary;
        }
      }
    }
  }
}

.layout-footer-stick {
  @include layout-footer-stick;

  .content-scroll {
    margin: 0 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;

    &.scroll-reverse {
      flex-direction: column-reverse !important;
    }
  }

  footer .row-items-3 {
    @include row-items-3(16px, 24px, 12px, 12px);

    margin: 0 10px;

    .icon-btn {
      height: 36px;
      font-size: 21px;
    }

    .chat-avatar {
      font-size: 21px;
    }
  }
}

.chat-detail {
  font-size: 12px;

  .chat-date {
    color: $gray;
  }

  .message {
    width: fit-content;
    min-width: 100px;
    max-width: 60%;
    background-color: $bg-gray-2;
    border-radius: 5px;
    padding: 5px 16px;
    margin-bottom: 12px;

    &.message-user {
      margin-left: auto;
      margin-right: 16px;
      background-color: $bg-hover;
    }

    p {
      margin: 5px 0;
    }

    .message-time {
      font-size: 9px;
      color: $gray;
      display: flex;
      justify-content: space-between;
    }
  }
}

.chat-textarea {
  box-sizing: border-box;
  margin: 10px 0;
  vertical-align: middle;
  width: 100%;
  min-width: 0;
  padding: 7px 60px 7px 14px;
  min-height: 36px;
  max-height: 58vh;
  line-height: 20px;
  font-size: 14px;
  background-color: $bg-img;
  color: rgb(51 51 51);
  transition: border 0.2s ease 0s;
  appearance: none;
  border: none;
  border-radius: 30px;
  outline: none;
  resize: none;
}

.info-text {
  text-align: center;
  font-style: italic;
  color: $gray;
}

.chat-actions {
  @extend %flex-between;
}
