.form-center {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 450px;
  padding: 30px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;

  .form-center-content {
    flex: 1 0 auto;
    margin-top: 30px;
  }

  .form-center-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    button {
      width: 90%;
    }

    .action-link {
      margin-top: 16px;
    }
  }

  .form-stretch {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
