.field-floating {
  padding-bottom: 10px;

  .inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
  }

  .label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    font-weight: 500;
    color: $gray;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }

  input {
    appearance: none;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 0;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: inset 0 -1px 0 rgba($primary, 0.9);
    transition: all 0.15s ease;

    &:hover {
      box-shadow: inset 0 -1px 0 $primary;
    }

    &:not(:placeholder-shown) {
      + .label {
        color: $gray;
        transform: translate3d(0, -24px, 0) scale(0.75);
      }
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 -2px 0 $primary;

      + .label {
        color: $gray;
        transform: translate3d(0, -24px, 0) scale(0.75);

        + .focus-bg {
          transform: scaleX(1);
          transition: all 0.1s ease;
        }
      }
    }
  }
}
