.input-inline {
  @extend %border-bottom-gray;

  display: flex;
  justify-content: space-between;

  .label {
    white-space: nowrap;
    pointer-events: none;
  }

  input {
    border: none;
    width: fill-available;
    text-align: end;

    &:focus {
      border: none;
    }

    &:focus-visible {
      outline: none;
    }

    &:read-only {
      cursor: default;
    }
  }
}
