$primary: #3369f3;
$primary-hover: #3a61c7;
$bg-white: #fff;
$bg-gray: #fbfbfb;
$bg-gray-2: #f8f8f8;
$bg-hover: #e4edfd;
$bg-img: #efefef;
$text-dark: #1e1e1e;
$text-white: #fff;
$gray: #999;
$border-gray: #eaeaea;
$red: #f00;
$font-main: "Inter", sans-serif;
