$primary: #3369F3;
$bg-white: #fff;
$bg-black: #fff;
$bg-gray: #FBFBFB;
$bg-img: #EFEFEF;
$text-dark: #1E1E1E;
$text-white: #fff;
$gray: #999;
$border-gray: #EAEAEA;
$red: #FF0000;

$font-main: 'Inter', sans-serif;