@use "sass:color";
@import "../../static/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap";
@import "variables";
@import "input-floating";
@import "form-center";
@import "button";
@import "input-inline";
@import "profile-page";
@import "modal";
@import "avatar";
@import "chats";
@import "popup";

// ====== general styles ======
%sidebar {
  display: flex;
  background-color: $bg-gray;
  border-right: 1px solid $border-gray;
}
%flex-h100 {
  min-height: 100vh;
  display: flex;
}

%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%border-bottom-gray {
  padding-bottom: 6px;
  margin-top: 6px;

  &:not(:last-child) {
    border-bottom: 1px solid $border-gray;
  }
}

%flex-column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    filter: brightness(85%);
  }
}

a.red {
  color: $red;
}

.text-gray {
  color: $gray;
}

.text-bold {
  font-weight: 600;
}

h4 {
  font-size: 12px;
  font-weight: 500;
}

.title-center {
  text-align: center;
}

.items-center {
  justify-content: center;
  align-items: center;
}

main {
  @extend %flex-h100;

  background-color: $bg-white;
  color: $text-dark;
  font-family: $font-main;
  font-size: 13px;
}

// ====== icons styles ======
.icon-primary {
  color: $primary;
}

.icon-link {
  margin: 18px;

  .icon-primary {
    width: 28px;
    height: 28px;

    &:hover {
      color: color.adjust($primary, $lightness: -10%);
    }
  }
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.item-left {
  margin-left: auto;
  margin-right: 0;
}

// ======layout styles ======
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 70px;
  }
}

.layout-col-2 {
  .main-content {
    flex: 1 0 auto;
  }

  .side-content {
    @extend %sidebar;

    align-items: center;
  }
}
