---
favicon:
  - ../../../static/image/favicon.ico
stylesheets:
  - ../../scss/style.scss
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      {{> error-layout pageData=data.500-error }}
    </main>
  {{/content}}
{{/extend}}
