---
favicon:
  - ../../../static/image/favicon.ico
stylesheets:
  - ../../scss/style.scss
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <div class="error-page">
        <h1>Chats List Page coming soon...</h1>

        <div class="title-center">
          <a href="profile-page.hbs">Профиль</a>
        </div>
        <br/>
        <br/>
        <div class="title-center">
          <a href="404-page.hbs">404-page</a>
        </div>
        <br/>
        <br/>
        <div class="title-center">
          <a href="500-page.hbs">500-page</a>
        </div>
        <br/>
        <br/>
        <div class="title-center">
          <a href="chat-page.hbs">chat-page</a>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="title-center">
          <a href="../index.hbs">Назад</a>
        </div>
      </div>
      
    </main>
  {{/content}}
{{/extend}}
