---
favicon:
  - ../../../static/image/favicon.ico
stylesheets:
  - ../../scss/style.scss
scripts:
  - ../../index.ts
---

{{#extend "base-profile"}}
  {{#content "main-content"}}
    <div class="main-content">
      {{> profile-content pageData=profileData.profile
                          inputsData=profileData.profile-inputs
                          actionsData=profileData.profile-actions }}
    </div>
  {{/content}}
{{/extend}}
